*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topo-container img{
    width: 100%;
    height: 100%;
}

.checkbox-lang {
    display: block;
  }
  .checkbox-lang input {
    display:none;
  }
  .checkbox-lang label {
    position: relative;
    padding-left: 2.2em;
    display: inline-block;
    cursor: pointer;
  }
  .checkbox-lang label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1.05em;
    width: 1.05em;
    background: #FFF;
    margin-right: 0.05em;
    border: 1px solid #999;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  .checkbox-lang label::after {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 0.60em;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: #FFF;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .checkbox-lang label:focus::before, .checkbox-lang label:hover::before {
    background: rgb(174, 205, 241);
  }
  .checkbox-lang input:checked + label::before {
    background: #0619c7;
    border-color: #0619c7;
  }
  .checkbox-lang input:checked + label::after {
    opacity: 1;
  }

.sexo input{
    display:none; /* Esconde os inputs */
}

.sexo label {
    cursor: pointer;
}
.sexo input + label:before{
    border: 1px solid #5D5C5C;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: center;
    width: 16px;
    border-radius:4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.sexo input:checked + label:before {
    background: #bdbcba;
    color: #FFF;
    content: "\2713";
    text-align: center;
}

.sexo input:checked + label:after {
    font-weight: bold;
} 

.estado-civil input{
    display:none; /* Esconde os inputs */
}

.estado-civil label {
    cursor: pointer;
}
.estado-civil input + label:before{
    border: 1px solid #5D5C5C;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 20px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: center;
    width: 20px;
    border-radius:4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.estado-civil input:checked + label::before {
    background: #bdbcba;
    color: #FFF;
    content: "\2713";
    text-align: center;
}

.estado-civil input:checked + label::after {
    font-weight: bold;
} 

.estado-civil label:before + input{
    border: 1px solid #5D5C5C;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 20px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: center;
    width: 20px;
    border-radius:4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}