*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topo-container img{
    width: 100%;
    height: 100%;
}

.checkbox {
    display: block;
  }
  .checkbox input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .checkbox label {
    position: relative;
    padding-left: 2.2em;
    display: inline-block;
  }
  .checkbox label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
    background: #FFF;
    margin-right: 0.5em;
    border: 1px solid #999;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  .checkbox label::after {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 0.75em;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: #FFF;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .checkbox label:focus::before, .checkbox label:hover::before {
    background: #DDD;
  }
  .checkbox input:checked + label::before {
    background: #ff7212;
    border-color: #ff7212;
  }
  .checkbox input:checked + label::after {
    opacity: 1;
  }

.exemplo2 input{
    display:none; /* Esconde os inputs */
}

.exemplo2 label {
    cursor: pointer;
}
.exemplo2 input + label:before{
    border: 1px solid #5D5C5C;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: center;
    width: 16px;
    border-radius:4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.exemplo2 input:checked + label:before {
    background: #bdbcba;
    color: #FFF;
    content: "\2713";
    text-align: center;
}

.exemplo2 input:checked + label:after {
    font-weight: bold;
} 
